<!-- PANTALLA WAITING FOR OPPONENT -->
<div class="waiting text-center" *ngIf="(((currentPlayer !== game?.turn || !opponent ) && gameOver != true) || playerReadyRestart)">
    <div>
      <p>Waiting For Opponent</p>
    </div>
    <span class="loader"></span>
</div>

<!-- ALERTA DE VICTORIA -->
<div class="alert" *ngIf="gameOver === true">
  <div type="button" (click)="emitRestartGame()" class="alert-win text-center">
    <div class="alert-msg" *ngIf="gameOver">{{ winner }}</div>
    <div class="alert-span">click for restart</div>

  </div>
</div>


<!-- MENSAJE DE OPONENTE DESCONECTADO -->
<div class="alert" *ngIf="opponentDisconnected === true">
  <div type="button" class="alert-win text-center" (click)="reloadPage()">
    <div class="alert-disconnected">Opponente Disconnected</div>
    <div class="alert-span">click for restart</div>
  </div>
</div>



<!-- LOGICA DEL JUEGO -->
<div class="game-container">
  <!-- PLAYER X -->
  <div class="player-section bg-blue d-flex justify-content-center" [ngClass]="{'degradadoX': game?.turn === 'X' || gameOver === true}">
    <div class="text-center mt-5" *ngIf="currentPlayer === 'X'">
      <div class="playerName">{{ player.nombre }}</div>
      <div class="playerName">{{ game.winX }}</div>
      <div class="turno" *ngIf="currentPlayer === game?.turn">TU TURNO</div>
    </div>
    <div class="text-center mt-5" *ngIf="currentPlayer === 'O'">
      <div class="playerName">{{ opponent?.nombre }}</div>
      <div class="playerName">{{ game.winX }}</div>
    </div>
  </div>

  <!-- PLAYER O -->
  <div class="player-section bg-purple d-flex justify-content-center" [ngClass]="{'degradadoY': game?.turn === 'O' || gameOver === true}">
    <div  class="text-center mt-5" *ngIf="currentPlayer === 'O'">
        <div class="playerName">{{ player.nombre }}</div>
        <div class="playerName">{{ game.winO }}</div>
        <div class="turno" *ngIf="currentPlayer === game?.turn">TU TURNO</div>
    </div>
    <div  class="text-center mt-5" *ngIf="currentPlayer === 'X'">
        <div class="playerName">{{ opponent?.nombre }}</div>
        <div class="playerName">{{ game.winO }}</div>
    </div>
  </div>

  <!-- TABLERO -->
  <div class="board-container">
    <table class="tres-en-raya">
      <tr *ngFor="let row of [0, 1, 2]">
        <td *ngFor="let col of [0, 1, 2]" (click)="makeMove(row, col)">
          {{ board[row][col] }}
        </td>
      </tr>
    </table>
  </div>

</div>
