<!-- Contenedor principal que empieza como un botón y se expande a ser el chat -->
<div app-chat class="chat-container" [ngClass]="{'closed': !isOpen, 'open': isOpen}">
  <!-- Si el chat está cerrado, muestra solo el icono -->
  <div *ngIf="!isOpen" class="button-chat">
    <div class="button-chat-text">Abrir Chat</div>
    <div class="button-chat-icon">
      <i class="bi bi-chat"></i>
    </div>
  </div>

  <!-- Contenido del chat que se muestra cuando está abierto -->
  <div *ngIf="isOpen" class="chat-content">
    <div class="chat-header">
      <div class="chat-title"></div>
      <i dropdownButton down-button class="bi bi-caret-down-fill" (click)="toggleChat($event)"></i>
    </div>
    <div class="chat-messages" #chatMessages>
      <div *ngFor="let group of groupedMessages | keyvalue">
        <!-- Mostrar la fecha del grupo -->
        <div class="row-message">
          <div class="pop-notifies date-group">{{ group.key }}</div>
        </div>

        <!-- Iterar sobre los mensajes dentro del grupo -->
        <div *ngFor="let message of group.value" class="row-message">
          <!-- Contenido de cada mensaje, similar a lo que ya tienes -->
          <div *ngIf="message.userId !== player?.id" class="image">
            <div class="pop-message-user-name">
              {{ message.userName!.slice(0, 2) }}
            </div>
          </div>

          <div class="pop-message"
            [ngClass]="{'received' : message.userId !== player?.id, 'sent' : message.userId === player?.id}">
            <div class="body">
              <span *ngIf="message.userId !== player?.id" class="pop-message-user" [ngStyle]="{'color': message.color}">
                {{ message.userName }}
              </span>
              <span>{{message.text}}</span>
            </div>
            <span class="time">{{message.time}}</span>
          </div>
        </div>
      </div>
    </div>
    <form (ngSubmit)="sendMessage()">
      <div class="chat-form">
        <input type="text" id="chat-input" name="stringMessage" [(ngModel)]="stringMessage"
          placeholder="Escribe un mensaje..." autocomplete="off">
        <button type="submit" id="send-button"><i class="bi bi-send"></i></button>
      </div>
    </form>
  </div>
</div>
