.chat-container{
  position: absolute;
  bottom: 4%;
  right: 5%;
  z-index: 9999;
  max-width: 500px;
  width: 91%;
}

.chat-container.open {
  width: calc(100px 20vw);
  height: 500px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: width 0.7s ease, height 0.4s ease;
}

.chat-container.closed {
  width: 8em;
  height: 3em;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  color: black;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  transition: width 0.4s ease, height 0.4s ease, transform 0.2s ease 0s;
}

.chat-container.closed:hover{
  transform: scale(1.1);


}

.chat-header {
  height: 50px;
  background-color: rgb(244, 244, 244);
  text-align: left;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid #ddd;
  justify-content: space-between;
  height: 10%;
}

.chat-header i{
  color: rgb(164, 164, 164);
  cursor: pointer;
  transition: transform  0.5s ease, color 800ms ease;
}

.chat-header i:hover{
 transform: scale(1.3);
 color:gray;
}

.chat-title {
  font-size: 1.1em;
  font-weight:normal;
}

.join-notify{
  padding: 7px 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  text-align: center;
  background-color: rgb(255, 248, 210);
  font-weight: 400;
  height: auto;
  width: 100%;
  justify-content: center;
  border-bottom: 1px rgb(194, 194, 194) solid;
}

.chat-messages {
  flex: 1;
  padding: 5px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  background-color: rgb(236, 232, 228);
  height: 65%;
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
  position: relative;
}
.chat-messages::-webkit-scrollbar {
  display: none;
}

.chat-form {
  display: flex;
  padding: 10px;
  border-top: 1px solid #ddd;
  background-color: rgb(244, 244, 244);
  position: relative;
  bottom: 0%;
}

.chat-form input {
  flex: 1;
  padding: 10px;
  padding-left: 15px;
  border: none;
  margin-right: 10px;
  border-radius: 8px;
  border: 1px solid #eeeeee;
}

.chat-form button {
  padding: 10px 15px;
  background-color: #7c9ada;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 40px;
  transition: background-color 800ms;
}

.chat-form button:hover {
  background-color: rgb(46, 107, 249);
}

/* Estilos para los mensajes */
.pop-message {
  padding: 5px 10px;
  margin: 5px 0;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  width: max-content;
  max-width: 80%;
  display: flex;
  flex-direction: row;
  position: relative;
}

.pop-message ::before{
  width: 500px;
  height: 500px;
  background-color: red;
  position: absolute;
}

.pop-message-user{
  font-weight: 500;
  font-size: 0.9em;
}

.pop-message.sent {
  background-color: rgb(241, 246, 255);
  align-self: flex-end;
  text-align: start;
}

.pop-message .body{
  display: flex;
  flex-direction: column;
  margin: 0px 6px 0px 0px;
}

.pop-message span.time {
  color: gray;
  text-align: end;
  font-size : 0.7em;
  margin-left: 0px;
  align-self: self-end;
}


.pop-message.received {
  background-color: white;
  align-self: flex-start;
  text-align: start;
}

.chat-content{
  height: 100%;
}

/* Estilos para el icono dentro del botón cuando está cerrado */
.chat-container.closed .bi-chat {
  color: rgb(0, 0, 0);
  font-size: 20px; /* Ajusta al tamaño que prefieras */
}

.button-chat{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}

.row-message{
  display: flex;
  position: relative;
}

.row-message:has(.sent){
  flex-direction: row-reverse;
}
.image{
  margin: 8px 8px 0 0;
  background-color: rgb(55, 0, 128);
  border-radius: 100%;
  width: 35px;
  height: 35px;
  overflow: hidden;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageimg{
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.pop-message-user-name{
  height: min-content;
  width: min-content;
  color: white;
  margin-bottom: 2px;
}


.date-group {
  padding: 5px 10px;
  margin: 5px 0;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
  width: max-content;
  max-width: 80%;
  display: flex;
  flex-direction: row;
  position: relative;
  background-color: white;
  font-weight: 300;
}

.row-message:has(.pop-notifies){
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  text-align: center;
}


