<app-chat></app-chat>
<div class="full-height d-flex flex-column justify-content-center">
  <div class="container text-center">
      <div class="row mb-4">
          <div class="col">
              <h1 class="titulo">Tres <br>en<br> Raya</h1>
          </div>
      </div>
      <div class="row ">
          <div class="col d-flex justify-content-center">
             <form (ngSubmit)="registroUser()">
                <div class="input-group mb-3">
                  <input type="text" class="form-control" name="inputName" [(ngModel)]="inputNombre" placeholder="Nombre de usuario..." (keydown.enter)="registroUser()">
                  <div class="input-group-append">
                    <button class="btn input-group-text" id="basic-addon2">Jugar</button>
                  </div>
                </div>
              </form>
          </div>
      </div>
  </div>
</div>
