<!-- lista-games.component.html -->
<app-header (emitLogout)="logout()"></app-header>



<div class="container">
  <div class="header">
      <h2>Listado de partidas</h2>
      <h2>Encuentra tu oponente!</h2>
      <p>Pulsa para empezar partida</p>
  </div>

  <div class="task-list">
    <div class="task" (click)="createGame(user.id)">
      <span class="task-icon"></span>
      <span class="task-description"><span class="task-title">CREAR PARTIDA</span></span>
      <span class="arrow">></span>
    </div>
    <hr>
    <div class="task" *ngFor="let game of games" [@fadeIn] (click)="joinGame(game.id, user.id)">
        <span class="task-icon"></span>
        <span class="task-description"><span class="task-title">{{game.playerXname}} #{{game.playerXid}}</span><br>Pulsa para empezar!</span>
        <span class="arrow">></span>
      </div>
  </div>
</div>
